footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    font-weight: bold;
}

.bg-dark {
    background-color: #343a40;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #5cb85c;
    font-weight: bold;
}

button.btn .btn-link {
    color: #5cb85c;
}

img {
    max-height: 100%;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.screen-width{
    padding: 10px;
}

.navbar-light{
    min-height: 55px;
} 

.card-title {
    text-align: center;
}

.card-subtitle {
    text-align: right;
}

.card-text {
    text-align: justify;
    text-indent: 25px;
}

#top-news-title{
    text-align: center;
    padding: 10px;
}

#top-news-description{
    text-align: center;
    text-align: justify;
    text-indent: 25px;
    padding: 10px;
}
#top-news-link{
        padding: 10px;
}

@media (max-width: 575px){
    .screen-width{
        width: 100%;
    }
    .card-title {
    font-size: 105%;
    }
    .card-subtitle {
        font-size: 80%;
    }
    .card-text {
        font-size: 90%;
    }
    .btn-link{
        font-size: 100%;
    }
    #top-news-title{
        font-size: 105%;
    }
    #top-news-link{
        font-size: 85%;
    }
    #top-news-description{
        font-size: 95%;
    } 
}

@media (min-width: 576px){
    .screen-width{
        width: 100%;
    }
    #top-news-title{
        font-size: 105%;
    }
    #top-news-description{
        font-size: 95%;
    } 
    #top-news-link{
        font-size: 85%;
    }
    #top-news-image{
        position: relative;
        top:50%;
        transform: translateY(-50%);
    }
}

@media (min-width: 767px){
    .screen-width{
        width: 50%;
    }
    #top-news-description{
        font-size: 95%;
    } 
    #top-news-image{
        position: relative;;
        top:50%;
        transform: translateY(-50%);
    }
}

@media (min-width: 992px){   
    .screen-width {
        width: 33%;
    }  
}
